.goods-img{
	width:245px;
	height:81px;
	margin:0 auto;
	background:url(../img/TB1adb0OFXXXXXzapXXXXXXXXXX-245-81.png)no-repeat;
	position: relative;
}
.goods-img h3{
	position: absolute;
	top:20px;
	left:50px;
	font-size: 30px;
	color:red;
}

.goods-container{
    width:100%;
    border-top:2px solid #ff4411;
    border-bottom:2px solid #ff4411;
    overflow: hidden;
    font-size: 25px;
    padding: 50px 0 50px 0;
    margin-bottom: 20px;
}
.detail img{
	float: left;
}

.goods-name{
  font-size:30px;
}
.goods-price{
  display: block;
  margin-top:50px;
  font-size:40px;
  color: #FF7400;
}
.goods-desc{
  margin-top:50px;
  font-size:30px;
}
.goods-num button{
	width:50px;
	height:40px;
	background:#fff;
	outline: none;
}
.goods-num input{
	width:50px;
	height:35px;
	outline:none;
}
.detail span{
	display:block;
	float:left;
	width:100px;
	height:50px;
	line-height:50px;
	background: #FB3434;
	text-align: center;
	color:#fff;
	margin-left:50px;
	margin-top:40px;
}